# deps
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# build
.next
out
dist
.turbo
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.log
.env
.env.local
.env.*.local
.vercel
coverage
